<div id="videos-container" class="contents-container">
      {{#each videos as |video|}}
<div class="video-card">
<div class="video-title">
  {{video.title}}
 </div>
</div>
{{/each}}
    </div>
    <div>
        <a href="/videos/create">Create a Post</a>
    </div>